<!-- FOOTER -->
<footer id="footer">
    <p style="color:#2DA896;text-align: center;"><i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fas fa-envelope"></i></p>
   <p style="color:#2DA896;text-align: center;"> © Copyright 2021 Aura</p>
  </footer>
</div>



<script src="validation.js" charset="utf=8"></script>
</body>
</html>